@import url("https://fonts.googleapis.com/css?family=Poppins");
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes addFill {
  to {
    fill-opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

html, body {
  height: 100%;
}

* {
  color: #FAFAFA;
  font-family: 'Poppins', 'Tahoma', 'Geneva', sans-serif;
  margin: 0;
  padding: 0;
}

.title h2 {
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: #1b1b1b;
}

.page {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .coming-soon {
  text-align: center;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

#cosgrove-path {
  stroke: #FAFAFA;
  fill: #FAFAFA;
  fill-opacity: 0;
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  animation: drawPath 1.5s ease-in-out 0.25s forwards, addFill 0.5s linear 1.75s forwards;
}

#owl-container {
  transform: scale(2.5);
}

#owl-path {
  stroke: #FAFAFA;
  stroke-width: .25;
  fill: #FAFAFA;
  fill-opacity: 0;
  stroke-dasharray: 77;
  stroke-dashoffset: 77;
  animation: drawPath 1.5s ease-in-out 0.25s forwards, addFill 0.5s linear 1.75s forwards;
}

.home-page {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
}

.home-page #owl-container {
  padding-bottom: 1rem;
  transition: transform 1s ease-in-out;
}
