.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  .coming-soon {
    text-align: center;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
}