@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  color: $white;
  font-family: 'Poppins', 'Tahoma', 'Geneva', sans-serif;
  margin: 0;
  padding: 0;
}
.title h2 {
  font-weight: 400;
  font-size: 16px;
}